<nav>
  <h1>Привет!</h1>
  <a href="{{ SITEURL }}/">
    {% if USER_LOGO_URL %}
    <img src="{{ SITEURL }}{{ USER_LOGO_URL }}" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{ SITEURL }}/theme/images/logo.png" id="gravatar" alt="My photo"/>
    {% endif %}
  </a>
  <h2><a href="{{ SITEURL }}/">It's my blog</a></h2>

  <div id="bio">
    <p>{{ TAGLINE }}</p>
  </div>

  <div id="social">
    {% include "social.html" %}
  </div>

  <div id="tags">
    <ul>
      {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}

      {% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %}
      <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}{% endif %}

      {% for name, link in LINKS %}
      <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
      {% endfor %}

      </ul>
  </div>

  <div id="cats">
    <ul>
      {% for category, articles in categories|sort %}
        {% if category != "misc" %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
