#tags ul li {
    list-style: none;
}

#tags {
    margin-top: 15px;
    padding-top: 0px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 10px;
}

#home h2 {
    color: #181818;
}

#cats {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 13px;
    padding-top: 15px ;
    border-top: dotted #ddd;
    border-width: 1px 0;
}

#cats ul li {
    list-style: none;
}

.article_meta {
    background-color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 25px;
    border-top: 3px solid #3267aa;
}

.article_meta h3 {
    color: gray;
}

.highlight pre {
    border-radius: 5px;
}

div.toc {
    padding: 13px;
    margin-bottom: 40px;
    margin-top: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: aliceblue;
}

div.toc span.toctitle {
    text-transform: uppercase;
    font-weight: 500;
}
