@import        url("pygments.css");

@font-face {
    font-family: 'Lexend Deca';
    src: url('LexendDeca-Regular.eot');
    src: local('Lexend Deca Regular'), local('LexendDeca-Regular'),
        url('LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),
        url('LexendDeca-Regular.woff2') format('woff2'),
        url('LexendDeca-Regular.woff') format('woff'),
        url('LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lexend Deca", sans-serif;
    padding: 0;
    margin: 0;
}

.index-article-link {
    text-decoration: none;
    color: black;
}

.index-article-link:hover {
    color: blue;
}

header.page-head {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.page-head h1 a {
    margin-right: 30px;
}

header.page-head h1 a {
    text-decoration: none;
    color: black;
}

header.page-head a.menu-link {
    text-decoration: none;
    color: black;
}

header.page-head a.menu-link:hover {
    color: blue;
}

.post .post-header .meta {
    color: gray;
}

.post .post-header .meta a {
    color: gray;
}

.post .post-header .meta a:hover {
    color: blue;
}

section.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

section.content article.post {
    padding-bottom: 21px;
}

.post .post-header time {
    font-size: 13px;
}

.post .post-header h1 a {

}

article.post.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

article.post.content header.post-header {
    text-align: center;
}

article.post.content header.post-header div.meta > * {
    padding-right: 10px;
}

article.post.content .post-content {
    /* padding: 20px; */
    padding-top: 50px;
}

.highlight {
    padding: 10px;
    background-color: black;
}

pre code {
    color: white;
}

div.page {
    padding-bottom: 130px;
}

nav#pagination {
    text-align: center;
    padding: 30px;

}

nav#pagination > * {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

nav#pagination > span.active {
    color: lightgray;
}